body {
  background-color: #eceef1;
  font-family:
    "AvenirNext",
    Avenir,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  padding-right: 2em;
  margin-bottom: 2em;
  justify-content: flex-start;
  font-size: small;
  color: blueviolet;
}